<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829553314870-hdij8c5ug5tvq79pa2sut09vo382uf0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829553314870-hdij8c5ug5tvq79pa2sut09vo382uf0e</string>
	<key>API_KEY</key>
	<string>AIzaSyCQmnGjsuvbMfdo1E5wvy8mdl1K_UbykXY</string>
	<key>GCM_SENDER_ID</key>
	<string>829553314870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-super-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-super-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829553314870:ios:de413ff603d6c7463cdc97</string>
</dict>
</plist>